h1{
    color: blueviolet; text-shadow: rgb(142, 74, 74); text-shadow: 20px; text-align: center
};
body{
    background-color: rgb(77,200,68);
}

#widget{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
}

